<div class="row">

    

    <div class="col-md-4">
        <div class="mb-3">         
            <select [(ngModel)]="selectedBrand"  class="form-select" aria-label="Default select example">
                <option selected disabled value=null>Marka Seçiniz</option>
                <option *ngFor="let brand of brands" [value]="brand.brandId">{{brand.brandName}}</option>
            </select>
           
        </div>

    </div>
    
    <div class="col-md-4">
        <div class="mb-3">           
            <select [(ngModel)]="selectedColor"  class="form-select" aria-label="Default select example">
                <option selected disabled value=null>Renk Seçiniz</option>
                <option *ngFor="let color of colors" [value]="color.colorId">{{color.colorName}}</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="mb-3">
            <button type="button" [class]="checkFilterClass()" [routerLink]=(routingLink())>Filtrele</button>
                 <button class="btn btn-warning me-3" routerLink="">Clear</button>
        </div>
    </div> </div>
    